# 11.1

In [9]:
from zoo import hours
hours()

Open 9-5 daily

# 11.2

In [10]:
import zoo as managerie
managerie.hours()

Open 9-5 daily

In [11]:
# 16.2

In [33]:
import sqlite3
conn = sqlite3.connect('newbooks.db')
curs = conn.cursor()

try:
  curs.execute('''CREATE TABLE newbooks
    (title VARCHAR(100) primary key,
     author VARCHAR(50),
     year int)''')
except: 
  print('An exception occurred')

try:
  import csv
  with open('books.csv', newline='') as csvfile:
    books_reader = csv.reader(csvfile)
    books_data = list(books_reader)
    
    for row in books_data:        
         sql = "INSERT INTO newbooks (title,author,year) VALUES (?,?,?)"
         curs.execute(sql,row)
  conn.commit()
except:
  print('An exception occurred')

res = curs.execute("SELECT title FROM newbooks")
ret_values = res.fetchall()
print(ret_values)
curs.close()

An exception occurred
An exception occurred
[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',), ('title',)]